<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="container">
        <!--aside section start-->
        <aside>
           <div class="top">
            <div class="logo">
                <h1>KE<span class="danger">N</span>NEDY </h1>
            </div>
            <div class="close" id="close_btn">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
           </div>
           <!--end top-->
           <div class="sidebar">
            <a href="index.html">
                <span class="material-symbols-outlined">
                    grid_view
                </span>
                <h3>Dashboard</h3>
            </a>
            <a href="clientes.html" class="active">
                <span class="material-symbols-outlined">
                    person
                </span>
                <h3>Clientes</h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    monitoring
                </span>
                <h3>Analytics</h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    mail
                </span>
                <h3>Mensagens</h3>
                <span class="msg_count">13</span>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    receipt_long
                </span>
                <h3>Productos</h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    report
                </span>
                <h3>Relatorios</h3> 
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    manufacturing
                </span>
                <h3>Definicoes</h3> 
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    add
                </span>
                <h3>Add producto</h3> 
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    logout
                </span>
                <h3>Sair</h3> 
            </a>
           </div>
        </aside>
        <!--aside section end-->

        <!--main section start-->
        <main>
          <h1><span class="text-muted">Dashboard</span>/Clientes</h1> 
          <!--start recent orders-->
          <div class="table_container">

            <div class="title_table">
                <h1>Clientes</h1>
                <a class="add_button openModal" id="open" data-target="#modal-container_1"><span class="material-symbols-outlined">add</span>Adicionar Cliente</a>
            </div>

            <table>

                <thead>

                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Numero</th>
                        <th>Pagamento</th>
                        <th>Estado</th>
                    </tr>

                </thead>

                <tbody>

                    <tr>
                        <td><div class="table_photo"> <img src="../images/kennedy_fato.jpeg" alt=""></div></td>
                        <td>Dario Goncalo</td>
                        <td>945886657</td>
                        <td>Due</td>
                        <td><span class="warning">Pendente</span></td>
                        <td><a href="#"><span class="primary">Detalhes</span></a></td>
                    </tr>

                    <tr>
                        <td><div class="table_photo"> <img src="../images/kennedy_fato.jpeg" alt=""></div></td>
                        <td>Pedro Kenzo</td>
                        <td>903009433</td>
                        <td>Due</td>
                        <td><span class="success">Validado</span></td>
                        <td><span class="primary">Detalhes</span></td>
                    </tr>

                    <tr>
                        <td><div class="table_photo"> <img src="../images/kennedy_fato.jpeg" alt=""></div></td>
                        <td>Osvaldo Goncalves</td>
                        <td>94330097</td>
                        <td>Due</td>
                        <td><span class="warning">Pendente</span></td>
                        <td><span class="primary">Detalhes</span></td>
                    </tr>

                </tbody>
            </table>
          </div>

          <!--Modal start-->
          <div class="modal-container" id="modal-container_1">
            <div class="modal">
                <h1>Adicionar Cliente</h1>
              
                <div class="form_container">
                    <form action="" class="form_body">
                        <div class="form_elements_container">
                            <input type="text" class="input_form_control">
                            <input type="text" class="input_form_control">
                            <input type="text" class="input_form_control">
                            <input type="text" class="input_form_control">
                        </div>
                        <div class="form_buttons">
                            <a href="" class="form_button success-background">Enviar</a>
                        </div>
                    </form>
                </div>
                
                <button id="close" class="closeModal" data-target ="#modal-container_1">Fechar</button>
            </div>
          </div>
          <!--Modal end-->

          <!--recent orders end-->
        </main>
        <!--main section end-->

        <!--right section start-->
        <div class="right">
           <div class="top">
            <button id="menu_bar">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>

            <div class="theme-toggle ">
                <span class="material-symbols-outlined active">
                    light_mode
                </span>
                <span class="material-symbols-outlined">
                    dark_mode
                </span> 
            </div>
            
            <div class="profile">
                <div class="info">
                    <p><b>KENNEDY</b></p>
                    <p>Admin</p>
                    <small class="text-muted"></small>
                </div>

                <div class="profile-photo">
                    <img src="../images/kennedy_fato.jpeg" alt="">
                </div>
            </div>

           </div>
           <!--end top-->
           
        </div>
        <!--right section end-->


    </div>
    <script src="../js/script.js" ></script>

    <!--MODAL ORIGINAL
         <div class="modal-container" id="modal-container_1">
            <div class="modal">
                <h1>Hello World</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor consequatur odit assumenda sapiente numquam, vol
                    uptate debitis dicta vel, quae sunt ipsam officia accusamus libero voluptas nesciunt corporis id architecto unde.
                </p>
                <button id="close" class="closeModal" data-target ="#modal-container_1">Fechar</button>
            </div>
        </div> 
    -->
</body>
</html>